[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Smartgit
Exec=/usr/local/smartgit/bin/smartgit.sh
Icon=/usr/local/smartgit/bin/smartgit-64.png
